.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background-color: lightgrey;
}

ul {
  list-style:none;
}

#unproduit{
  width:100%;
}

#trproduit{
  width:100%;
}

#description{
  width: 60%;
}

#name{
  width:30%;
}

#price{
  width: 10%;
  margin-left: 100px;
}

#entete{
  background-color:green;
  height:40px;
  margin-top: 0px;
  position: fixed;
	width:100%;
}

#onglets li
{
    float : left;
    margin-left: 20px;
    border : 1px solid;
}

#tablevelos{
  width:100%;
  position: absolute;
	margin-top:40px;
	color:black;
	text-align:center;
}
